<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ninja Gold</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'ninjagold_app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'ninjagold_app/css/main.css' %}">
</head>
<body>
    <div class="wrapper">   
        <h1>Ninja Gold</h1>
        <div class="header">
            <p>Your Gold:  <span class="your-gold">{{request.session.gold}}</span></p><form
            action='/reset/' method='post'class="reset">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Reset</button>
            </form>
        </div>
        <form action='/process/farm/' method='post'>
            {% csrf_token %}
            <h2>Farm</h2>
            <p>(earns 10-20 golds)</p>
            <button type="submit" class="btn btn-success">Find Gold!</button>
        </form><form
         action='/process/cave/' method='post'>
            {% csrf_token %}
            <h2>Cave</h2>
            <p>(earns 5-10 golds)</p>
            <button type="submit" class="btn btn-success">Find Gold!</button>
        </form><form
         action='/process/house/' method='post'>
            {% csrf_token %}
            <h2>House</h2>
            <p>(earns 2-5 golds)</p>
            <button type="submit" class="btn btn-success">Find Gold!</button>
        </form><form
         action='/process/casino/' method='post'>
            {% csrf_token %}
            <h2>Casino</h2>
            <p>(earns/takes 0-50 golds)</p>
            <button type="submit" class="btn btn-success">Find Gold!</button>
        </form>
        <p class="act-header">Activities:</p>
        <div class="activities">
            {% for activity in request.session.activities %}
                <p class="{{activity.class}}">{{activity.content}}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>